extends layout

block content
  include templates/nav

  div(class=['ui','container', 'grid','stackable'])
    div(class=['ten','wide','column'])
      h3(class=['ui', 'header', 'blue'])= 'Bem vindo ao site de locação de filmes'
