div(class=['ui', 'pointin', 'menu'])
  a(class='item' href='http://localhost:3000/')='Home'
  a(class='item' href='http://localhost:3000/login')= 'Login'
  a(class='item' href='http://localhost:3000/novo')='Cadastro'
  div(class=['right', 'menu'])