div(class=['ui', 'pointin', 'menu'])
  a(class='item' href='http://localhost:3000/novoProduto')= 'Novo Produto'
  a(class='item' href='http://localhost:3000/produtos')= 'Lista de Produtos'
  a(class='item' href='http://localhost:3000/usuarios')='Usuário'
  a(class='item' href='http://localhost:3000/sair')=' Sair'
  div(class=['right', 'menu'])
    div(class='item')
      div(class=['ui', 'transparent', 'icon','input'])
        input(type='text' placeholder='Search...')
        i(class=['search', 'link', 'icon'])