extends ../layout

block content
  include ../templates/navu
     div(class=['ui','container', 'grid','stackable'])
    div(class=['ten','wide','column'])
      h3(class=['ui', 'header', 'blue'])= 'Olá bem vindo a locadora'